@import 'tailwindcss';

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: Pretendard;
  src:
    local('Pretendard'),
    url(/fonts/Pretendard-Bold.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: Pretendard;
  src:
    local('Pretendard'),
    url(/fonts/Pretendard-Regular.woff2) format('woff2');
  font-display: swap;
}

@theme {
  --default-font-family: 'Pretendard';
  --color-primary: oklch(0.58 0.19 31.91);

  --animate-across: across 2s ease-in-out infinite;
  @keyframes across {
    0% {
      opacity: 1;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(-300%);
    }
  }
}

html {
  @apply bg-stone-200 text-stone-700;
}
