@import 'tailwindcss';

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: Pretendard;
  src:
    local('Pretendard'),
    url(/fonts/Pretendard-Bold.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: Pretendard;
  src:
    local('Pretendard'),
    url(/fonts/Pretendard-Regular.woff2) format('woff2');
  font-display: swap;
}

@theme {
  --default-font-family: 'Pretendard';

  --animate-across: across 2s ease-in-out infinite;
  @keyframes across {
    0% {
      opacity: 1;
      transform: translateX(320px);
    }
    100% {
      opacity: 1;
      transform: translateX(-320px);
    }
  }
}

html {
  @apply bg-neutral-100 text-stone-700;
}
